# 2.0 DATA UNDERSTANDING STAGE

### Install required libraries

In [ ]:
!pip install numpy
!pip install pandas
!pip install requests
!pip install matplotlib

### Import Required libraries

In [31]:
import numpy as np
import pandas as pd
import requests
import zipfile
from io import BytesIO
import matplotlib as plt

### Create URL of the zip file

In [32]:
secom_zip_url = "https://archive.ics.uci.edu/static/public/179/secom.zip"

### download the zipfile using request library

In [33]:
secom_zip_file = requests.get(secom_zip_url)

#### Identify list of the files on the zipfile

In [34]:
secom_files =  zipfile.ZipFile(BytesIO(secom_zip_file.content), 'r')

secom_files_names =  (zipfile.ZipFile(BytesIO(secom_zip_file.content))).namelist()
print(secom_files_names)

['secom.data', 'secom.names', 'secom_labels.data']

In [35]:
f_file = secom_files.open('secom.data')
l_file = secom_files.open('secom_labels.data')

In [36]:
#Create  column names and pandas dataframes for labels data

l_column_names=['classifications', 'date_time'] # create column labels

secom_labels_df = pd.read_csv(l_file, sep=r'\s+', header=None, names= l_column_names)

print(f"Dimensions of Labels data: ", secom_labels_df.shape)

print(secom_labels_df.head())

Dimensions of Labels data:  (1567, 2)
   classifications            date_time
0               -1  19/07/2008 11:55:00
1               -1  19/07/2008 12:32:00
2                1  19/07/2008 13:17:00
3               -1  19/07/2008 14:43:00
4               -1  19/07/2008 15:22:00

#### convert time stamps column to datetime format and Check if the timestamps column is ordinal (from latest to ealatest  time)

In [37]:
secom_labels_df['date_time'] = pd.to_datetime(secom_labels_df['date_time'], format='%d/%m/%Y %H:%M:%S')

is_ascending = secom_labels_df['date_time'].is_monotonic_increasing

if is_ascending:
    print("The timestamps column is in ascending order.")
else:
    print("The timestamps column is not in ascending order.")

The timestamps column is in ascending order.

#### Create column names pandas dataframes features data

In [38]:
f_column_names = [f"feature {i}" for i in range(1, 592)]

secom_features_df = pd.read_csv(f_file, sep=r'\s+', header=None, names= f_column_names)
print(f"Dimensions of Features' data: ", secom_features_df.shape)

print(secom_features_df.head())

Dimensions of Features' data:  (1567, 591)
   feature 1  feature 2  feature 3  feature 4  feature 5  feature 6  \
0    3030.93    2564.00  2187.7333  1411.1265     1.3602      100.0
1    3095.78    2465.14  2230.4222  1463.6606     0.8294      100.0
2    2932.61    2559.94  2186.4111  1698.0172     1.5102      100.0
3    2988.72    2479.90  2199.0333   909.7926     1.3204      100.0
4    3032.24    2502.87  2233.3667  1326.5200     1.5334      100.0

   feature 7  feature 8  feature 9  feature 10  ...  feature 582  feature 583  \
0    97.6133     0.1242     1.5005      0.0162  ...          NaN       0.5005
1   102.3433     0.1247     1.4966     -0.0005  ...     208.2045       0.5019
2    95.4878     0.1241     1.4436      0.0041  ...      82.8602       0.4958
3   104.2367     0.1217     1.4882     -0.0124  ...      73.8432       0.4990
4   100.3967     0.1235     1.5031     -0.0031  ...          NaN       0.4800

   feature 584  feature 585  feature 586  feature 587  feature 588  \
0       0.0118       0.0035       2.3630          NaN          NaN
1       0.0223       0.0055       4.4447       0.0096       0.0201
2       0.0157       0.0039       3.1745       0.0584       0.0484
3       0.0103       0.0025       2.0544       0.0202       0.0149
4       0.4766       0.1045      99.3032       0.0202       0.0149

   feature 589  feature 590  feature 591
0          NaN          NaN          NaN
1       0.0060     208.2045          NaN
2       0.0148      82.8602          NaN
3       0.0044      73.8432          NaN
4       0.0044      73.8432          NaN

[5 rows x 591 columns]

# 3.0 DATA PREPARATION

### Merge the Features and Labels data frames

In [39]:
secom_merged_df = pd.merge(secom_labels_df, secom_features_df, left_index=True, right_index=True)

print(f"Dimensions of merged data: ", secom_merged_df.shape)

print(secom_merged_df.head())

Dimensions of merged data:  (1567, 593)
   classifications           date_time  feature 1  feature 2  feature 3  \
0               -1 2008-07-19 11:55:00    3030.93    2564.00  2187.7333
1               -1 2008-07-19 12:32:00    3095.78    2465.14  2230.4222
2                1 2008-07-19 13:17:00    2932.61    2559.94  2186.4111
3               -1 2008-07-19 14:43:00    2988.72    2479.90  2199.0333
4               -1 2008-07-19 15:22:00    3032.24    2502.87  2233.3667

   feature 4  feature 5  feature 6  feature 7  feature 8  ...  feature 582  \
0  1411.1265     1.3602      100.0    97.6133     0.1242  ...          NaN
1  1463.6606     0.8294      100.0   102.3433     0.1247  ...     208.2045
2  1698.0172     1.5102      100.0    95.4878     0.1241  ...      82.8602
3   909.7926     1.3204      100.0   104.2367     0.1217  ...      73.8432
4  1326.5200     1.5334      100.0   100.3967     0.1235  ...          NaN

   feature 583  feature 584  feature 585  feature 586  feature 587  \
0       0.5005       0.0118       0.0035       2.3630          NaN
1       0.5019       0.0223       0.0055       4.4447       0.0096
2       0.4958       0.0157       0.0039       3.1745       0.0584
3       0.4990       0.0103       0.0025       2.0544       0.0202
4       0.4800       0.4766       0.1045      99.3032       0.0202

   feature 588  feature 589  feature 590  feature 591
0          NaN          NaN          NaN          NaN
1       0.0201       0.0060     208.2045          NaN
2       0.0484       0.0148      82.8602          NaN
3       0.0149       0.0044      73.8432          NaN
4       0.0149       0.0044      73.8432          NaN

[5 rows x 593 columns]